*{
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Game Over";
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(../Imagenes/fondo2.gif) no-repeat;
    justify-content: center;
    background-size: 1920px 950px;
    background-attachment: fixed;
}
.banner .content{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
.content img{
    width: 700px;
    top: 30px;
}

footer{
     position: absolute;
     background-color: black;
     color: white;

}
footer h3{

    font-size: 50px;


}
.Caja {
    position: absolute;
    background: linear-gradient( to bottom, #fd6b6b, #381f1f);
    box-shadow:  7px 10px 20px #a33434;
    width: 550px;
    height: 350px;
    margin-top: 450px;
    right: 150px;
}



.Caja h1{
    background-color: #514f3b;
    font-size: 100px;
    text-align: center;
    border: 50px #ea4d20 ;

}
.Caja h3{

    font-size: 70px;


}

::placeholder{
    font-size:50px;
}

#Name{
    border-style: hidden;
    display:block;
    padding: 5px 10px;
    margin:10px auto;
    min-width: 400px;
    -webkit-appearance: none;
    height: 35px;


}

button {
    border-style: hidden;
    display: block;
    margin: 30px auto;
    min-width: 300px;
    -webkit-appearance: none;
    height: 50px;
    font-size: 60px;
    border: 100px blue;
}