* {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Game Over";
    src: url("../Fuentes/game_over.ttf");
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url(../Imagenes/fondo2.gif) no-repeat;
    justify-content: center;
    background-size: 1920px 950px;
    background-attachment: fixed;
}


}

.content img {

    width: 700px;
    top: 30px;
}

footer {
    position: absolute;
    bottom: 0%;
   color: white;
    
}

footer h3 {

    font-size: 50px;


}

.Caja {
    position: absolute;
    background: linear-gradient(to bottom, #fd6b6b, #381f1f);
    box-shadow: 7px 10px 20px #a33434;
    width: 550px;
    height: 350px;
    margin-top: 450px;
    right: 150px;
    border: 5px #000000 solid;
}


.Caja h1 {
    background-color: #514f3b;
    font-size: 100px;
    text-align: center;


}

.Caja h3 {

    font-size: 70px;


}

::placeholder {
    font-size: 50px;

}

#Name {
    border-style: hidden;
    display: block;
    padding: 5px 10px;
    margin: 10px auto;
    min-width: 400px;
    -webkit-appearance: none;
    height: 35px;
    font-size: 50px;

}

.button {
    height: 50px;
    width: 300px;
    font-size: 60px;
    padding: 0;
    background: white;
    margin-left: 21.5%;

}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;

    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: initial;
}

a.button:hover{
    background-color: thistle;


}  


#Difi {

    border-style: hidden;
    display: block;
    margin: 20px auto;
    min-width: 200px;
    height: 40px;
    font-size: 60px;


}

.difi h3 {

    font-size: 70px;


}
